.hero {
    padding: 20px 100px 50px 100px;
}

.hero,
.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 28px;
    color: #F9FAF8;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-content {
    display: flex;
    
}